<div class="row text-center">
  <div class="col-lg-12">
    <h3>Número de accesos totales</h3>
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-on="showSpinner"></span>
    <canvas class="chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
      chart-options="options" chart-series="series" chart-colors="colores"></canvas>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <h3>Items más accedidos</h3>
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-on="showSpinner"></span>
    <canvas class="chart-bar" chart-data="data2" chart-labels="labels2" chart-legend="true"
      chart-options="options2" chart-series="series2" chart-colors="azul"></canvas>
  </div>
</div>
