<h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Los indicadores del Portal de Vigilancia
  Tecnológica y Gestión del Conocimiento están activados desde marzo de 2016</h5>

<h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Los datos están actualizados
  a fecha {{actualizacionDatos}}</h5>

<div class="row text-center">
  <div class="col-lg-12">
    <h3>Número de accesos totales</h3>
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-on="showSpinner"></span>
    <canvas class="chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
      chart-options="options" chart-series="series" chart-colors="colores"></canvas>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
    <h3>Accesos por departamentos</h3>
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-on="showSpinner2"></span>
    <canvas class="chart-doughnut" chart-data="data2" chart-labels="labels2"></canvas>
  </div>
</div>

<!--
<div ng-repeat="pers in mostrarPersonas track by $index">
  {{pers}}
</div>-->
